<div class="cmsp-app__inner">
  <div class="cmsp-app__btn">
    <p class="cmsp-app__desc">インストールを行いませんでした。</p>
    <%= link_to 'アプリストアへ戻る', 'https://app.shop-pro.jp/', class: "cmsp-app__link" %>
  </div>
</div>
