---
http_interactions:
- request:
    method: get
    uri: https://api.shop-pro.jp/v1/script_tags.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0619be2103318f655509c5bcdcddd355"
      X-Rack-Dev-Mark-Env:
      - development
    body:
      encoding: UTF-8
      string: '{"script_tags":[{"id":4,"account_id":"PA00000001","oauth_application_id":7,"src":"https://colorme-app-disable-right-click.shop-pro.jp/disable-right-click.js","display_scope":"shop","created_at":1527066896,"updated_at":1527066896}]}'
  recorded_at: Wed, 23 May 2018 09:53:51 GMT
recorded_with: VCR 4.0.0
