---
http_interactions:
- request:
    method: get
    uri: https://api.shop-pro.jp/v1/script_tags.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":401010,"message":"\u3053\u306e\u30ea\u30bd\u30fc\u30b9\u306b\u30a2\u30af\u30bb\u30b9\u3067\u304d\u307e\u305b\u3093\u3002\u6709\u52b9\u30a2\u30af\u30bb\u30b9\u30c8\u30fc\u30af\u30f3\u304c\u307f\u3064\u304b\u3089\u306a\u3044\u304b\u3001\u5fc5\u8981\u306a\u30b9\u30b3\u30fc\u30d7\u304c\u4ed8\u4e0e\u3055\u308c\u3066\u3044\u307e\u305b\u3093\u3002","status":401}]}'
  recorded_at: Thu, 14 Jun 2018 03:34:38 GMT
recorded_with: VCR 4.0.0
